<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
  <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>
  <%- include('./partials/header') %>
  <h1 id="heading"><%= title %></h1>

  <div id="news-container">
    <div class="grid">
      {{#each headline}}
      <div class="sm-50 md-25">
        <a href="{{url}}">{{title}}</a>
      </div>
      {{else}}
        <div class="xs-100">No hay elementos para mostrar</div>
      {{/each}}
    </div>
  </div>
  <script>
    localStorage.setItem('apiKey', '<%= apiKey %>');
  </script>
  <script src="assets/scripts/app.js" type="module"></script>
</body>
</html>