<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News App | Iteso</title>
  <link rel="stylesheet" href="assets/styles/main.css">
</head>
<body>
  <header>
    <span>News App</span>
    <ul>
      <li><a href="/">Noticias</a></li>
      <li><a href="/recientes">Recientes</a></li>
      <li><a href="/recientes/us">Recientes US</a></li>
    </ul>
  </header>

  {{{body}}}
</body>
</html>